<div id="dashboard">
    <div class="content">
        <div class="top-section">
            <div id="image">
                <div class="image-header">
                    <h2>Upload image</h2>
                </div>
                <div class="image-preview">
                    @if(imagePreviewUrl){
                        <img [src]="imagePreviewUrl" alt="Preview" />
                    } @else {
                        <img class="image-icon" src="image-icon.png" alt="Upload image" />
                    }
                </div>
                @if (imageFile) {
                    <div class="image-desc">
                        <p> Name: {{ imageFile.name }}</p>
                        <p>Here will be the physical description of the image</p>
                    </div>
                }
            </div>
            <div id="chat">
                <div class="chat-header">
                    <h2>AgrIA</h2>
                </div>
                <div class="chat-content" #chatContent>
                    <app-chat-assitant></app-chat-assitant>
                </div>
            </div>
        </div>

        <div id="input">
            <label class="custom-file-upload">
              <img src="upload-icon1.png" alt="Upload image" title="Upload image"/>
              <input type="file" (change)="onFileSelected($event)"/>
            </label>
          
            <textarea 
                id="user-input" 
                (keydown.enter)="sendUserInput()"
                (keyup.enter)="clearUserInput()"
                placeholder="Type here..." 
                [(ngModel)]="userInput"
            >
            </textarea>
            <button 
                class="input-button"
                (click)="sendUserInput()"
                title="Send prompt."
            >
                Send
            </button>
            <button
                class="input-button"
                (click)="getInputSuggesiton()"
                title="Get a suggested prompt from the reply."
            >
                Get suggestion
            </button>
        </div>
          
    </div>
</div>